    <div class="card" >
        <div class="card-body">
            <h4>Specific About Me & My Journy:</h4>
            <br>
            <h5>Hello, I'm <b>Shubham Rahate</b>,Computer diploma graduate with a strong foundation in Angular framework and Java.
                Eager to embark on my professional journey, I've honed my skills in web development through hands-on experience and
                coursework. As a fresher, I bring a fresh perspective and enthusiasm for learning. I am passionate about programming
                and excited to apply my knowledge to real-world challenges. I am currently seeking opportunities to gain valuable
                experience and contribute to innovative projects in the dynamic field of Fullstack development.</h5>
            <br>
            <h5>Despite facing a detour in my academic journey, where I took a break from my degree in the last year, I am determined
                to complete it while actively pursuing my passion for programming. While I have successfully completed my computer
                diploma, I view this temporary pause in my degree as an opportunity to gain practical skills and real-world
                experience in the field. I am committed to self-improvement and look forward to balancing my academic pursuits with
                hands-on learning in the ever-evolving landscape of technology. This unique combination of formal education and
                practical knowledge positions me as an adaptable and driven individual ready to contribute to the world of Fullstack
                development.</h5>
        </div>
      </div>
      <nav>
        <a href="https://www.instagram.com/shubham_rahate_?igsh=MTZ0a2JkaXJmYWJtcA==" > <i class="fa-brands fa-instagram"></i></a>  
        <a href="https://wa.me/9082389133"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="tel:9082389133"><i class="fa-solid fa-phone"></i></a>
        <a><i class="fa-brands fa-github"></i></a>
        <a href="mailto:shubhamrahate325@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </nav>
    
 