
<div class="certificate-container">
    <div  class="certificate-card">
        <img src="assets/java.PNG" alt="" class="certificate-image">
      <div class="certificate-details">
        <h4> Java </h4>
      </div>
    </div>
  </div>

  <nav>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-instagram"></i>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-whatsapp"></i>
    <link rel="stylesheet" href=""><i class="icon fa-solid fa-phone"></i>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-github"></i>
    <link rel="stylesheet" href=""><i class="icon fa-solid fa-envelope"></i>
</nav>
  