
<div class="certificate-container">
    <div  class="certificate-card">
        <img src="assets/java.PNG" alt="" class="certificate-image">
      <div class="certificate-details">
        <h4> Java </h4>
      </div>
    </div>
  </div>

  <nav>
    <a href="https://www.instagram.com/shubham_rahate_?igsh=MTZ0a2JkaXJmYWJtcA==" > <i class="fa-brands fa-instagram"></i></a>  
    <a href="https://wa.me/9082389133"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="tel:9082389133"><i class="fa-solid fa-phone"></i></a>
    <a><i class="fa-brands fa-github"></i></a>
    <a href="mailto:shubhamrahate325@gmail.com"><i class="fa-solid fa-envelope"></i></a>
</nav>
  