<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="exampleInputname" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputname">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="exampleInputphone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="exampleInputnumber">
            </div>

            <div class="container mt-5 d-flex justify-content-center">
                <button type="submit" class="btn ">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<nav>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-instagram"></i>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-whatsapp"></i>
    <link rel="stylesheet" href=""><i class="icon fa-solid fa-phone"></i>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-github"></i>
    <link rel="stylesheet" href=""><i class="icon fa-solid fa-envelope"></i>
</nav>