<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="exampleInputname" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputname">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="exampleInputphone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="exampleInputnumber">
            </div>

            <div class="container mt-5 d-flex justify-content-center">
                <button type="submit" class="btn ">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<nav>
    <a href="https://www.instagram.com/shubham_rahate_?igsh=MTZ0a2JkaXJmYWJtcA==" > <i class="fa-brands fa-instagram"></i></a>  
    <a href="https://wa.me/9082389133"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="tel:9082389133"><i class="fa-solid fa-phone"></i></a>
    <a href="https://shubhamrahate80.github.io/all"><i class="fa-brands fa-github"></i></a>
    <a href="mailto:shubhamrahate325@gmail.com"><i class="fa-solid fa-envelope"></i></a>
</nav>