<div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <div class="card" >
          <img src="assets/Typingmaster.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">It is a Typing Master made using Angular Framework.</p>
          </div>
        </div>
      </div>
      
     
      <div class="col-md-6">
        <div class="card" >
          <img src="assets/pwg.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">It is a Typing Master made using Angular Framework.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<nav>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-instagram"></i>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-whatsapp"></i>
    <link rel="stylesheet" href=""><i class="icon fa-solid fa-phone"></i>
    <link rel="stylesheet" href=""><i class="icon fa-brands fa-github"></i>
    <link rel="stylesheet" href=""><i class="icon fa-solid fa-envelope"></i>
</nav>