<div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <div class="card" >
          <img src="assets/Typingmaster.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">It is a Typing Master made using Angular Framework.</p>
          </div>
        </div>
      </div>
      
     
      <div class="col-md-6">
        <div class="card" >
          <img src="assets/pwg.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">It is a Typing Master made using Angular Framework.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <nav>
    <a href="https://www.instagram.com/shubham_rahate_?igsh=MTZ0a2JkaXJmYWJtcA==" > <i class="fa-brands fa-instagram"></i></a>  
    <a href="https://wa.me/9082389133"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="tel:9082389133"><i class="fa-solid fa-phone"></i></a>
    <a><i class="fa-brands fa-github"></i></a>
    <a href="mailto:shubhamrahate325@gmail.com"><i class="fa-solid fa-envelope"></i></a>
</nav>